/* Anuncio.css */
.anuncio-container {
  /* Ocupa todo el alto de la ventana */
  width: 100%;
  height: 100vh;

  /* Quita márgenes, rellenos y define box-sizing */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Flex para organizar verticalmente Video + Botones */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Alinear al tope vertical */

  /* Evita scroll (si se ajustan bien tamaños internos) */
  overflow: hidden;
  
  backdrop-filter: blur(6px);
  background-color: #FEF8F8;

}

@media screen and (orientation: landscape) {
  .anuncio-container {
    flex-direction: row; /* ahora video a la izquierda y botones a la derecha */
    align-items: center; /* centrar verticalmente */
    justify-content: flex-start; /* centrar horizontalmente */
  }
}
@media screen and (orientation: landscape) and (max-width: 767px) {
  .anuncio-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
	justify-content: flex-start;

  }
  
}



.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  pointer-events: none;
}

.overlay-img {
  width: 70px;
  height: 70px;
  opacity: 0.85;
  animation: fadeOut 0.7s ease-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/*Modifica Botonera celulares Landscape*/
@media screen and (orientation: landscape) and (max-width: 1024px) {
.overlay-img {
  width: 10vh;
  height: 11vh;
  opacity: 0.85;
  animation: fadeOut 0.7s ease-out forwards;
}
}

/*Modifica Botonera celulares Landscape*/
@media screen and (max-width: 1024px) {
.overlay-img {
  width: 9vh;
  height: 9vh;
  opacity: 0.85;
  animation: fadeOut 0.7s ease-out forwards;
}
} 